<head>
  <script src='../libs/three.js'></script>
    <script src="../libs/dat.gui.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</head>
<script>
// global variables
var renderer;
var scene;
var camera;

function init() {
// Three.js initialization code
// Set Scene
scene = new THREE.Scene();

// Set Render
renderer = new THREE.WebGLRenderer();
renderer.setClearColor(0x000000, 1.0);
renderer.setSize(window.innerWidth, window.innerHeight);
renderer.shadowMapEnabled = true;

// Set Camera
camera = new THREE.PerspectiveCamera(
45, window.innerWidth / window.innerHeight, 0.1, 1000);
camera.position.x = 20;
camera.position.y = 16;
camera.position.z = 13;
camera.lookAt(scene.position);
document.body.appendChild(renderer.domElement);

// Add a cube
// create a cube
var cubeGeometry = new THREE.BoxGeometry(6, 4, 6);
var cubeMaterial = new THREE.MeshLambertMaterial({color: 0xff0000, transparent:true, opacity:0.6});
var cube = new THREE.Mesh(cubeGeometry, cubeMaterial);
cube.name='cube';
cube.castShadow = true;
cube.position.set(0, 0, 0);

scene.add(cube);

// Add the floor

var planeGeometry = new THREE.PlaneGeometry(50, 50);
var planeMaterial = new THREE.MeshLambertMaterial({
color: 0xcccccc
});
var plane = new THREE.Mesh(planeGeometry, planeMaterial);
plane.receiveShadow = true;
plane.rotation.x = -0.5 * Math.PI;
plane.position.y = -2;
scene.add(plane);

// add the light

var spotLight = new THREE.SpotLight(0xffffff);
spotLight.position.set(10, 20, 20);
spotLight.castShadow = true;
scene.add(spotLight);

//Add the box controler

control = new function() {
this.rotationSpeed = 0.005;
this.opacity = 0.6;
this.color = cubeMaterial.color.getHex();
};

// add the output of the renderer to the html element
document.body.appendChild(renderer.domElement);

addControlGui(control);

render();
}

function addControlGui(controlObject) {
var gui = new dat.GUI();
gui.add(controlObject, 'rotationSpeed', -0.01, 0.01);
gui.add(controlObject, 'opacity', 0.1, 1);
gui.addColor(controlObject, 'color');
}


function render() {

  // change opacity
  scene.getObjectByName('cube').material.opacity = control.opacity;

  // change color
  scene.getObjectByName('cube').material.color = new THREE.Color(control.color);

// render using requestAnimationFrame
renderer.render(scene, camera);
requestAnimationFrame(render);
var d = new Date();
var n = d.getTime();


//$.get("getCameraX.php?"+n, function(data)
    //{
    //  scene.getObjectByName('cube').position.setY(data);
    //}
    //);
}
window.onload = init;
</script>
